*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --primary:#47555e;
    --secondary:#eeeeee;
    --thirdth:gray;
    --mist:#b8c0c0;
    --dark:#19283f
}
::-webkit-scrollbar{
    width: 0.7em;
}
::-webkit-scrollbar-track{
    background-color:var(--primary) ;
}
::-webkit-scrollbar-thumb{
    background-color: var(--secondary);
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--thirdth);
}
body{
    min-width: 300px;
    background-color: var(--mist);
}
.banner{
    margin-top: 10px;
    height: 250px;
    background-color: black;
    img{
        width: 100%;
        height: 100%;
    }
}
.info{
    height: 100px;
    width: 100%;
    position: relative;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
    img{
        position: absolute;
        height: 140px;
        border-radius: 50%;
        outline: 3px solid var(--mist);
        left: 40px;
        top: -50px;
    }
    div{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
table{
    margin: 20px 0;
    height: 100%;
    width: 90%;
    font-size: 25px;
}
.label{
    font-weight: bold;
    padding-left: 10px;
}
.tr1{
    background-color: var(--thirdth);
    color: var(--secondary);
}
.tr2{
    background-color: var(--secondary);
}
.modifier{
    border: none;
    padding: 5px 20px;
    background-color: #333;
    color: var(--secondary);
    font-weight: bold;
    transition: 0.3s ease;
}
.confirm{
    border: none;
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}
.confirm:hover{
    background-color: lightgreen;
    color: black;
}
.ignor{
    background-color: rgb(161, 161, 161);
    color: rgba(59, 55, 55, 0.409);
}
.ignor:hover{
    background-color: rgb(161, 161, 161);
    color: rgba(59, 55, 55, 0.409);
}
.modifier:hover{
    color: #333;
    background-color: var(--secondary);
}
input{
    width:250px; 
    margin-right:5px;
    margin-top:10px;
    font-size:20px;
    height:40px;
    box-sizing:border-box; 
    padding-left:10px;
}
.hide{
    display: none;
}
.opa{
    opacity: 0;
}
@media (max-width:992px){
    .hide{
        display: block !important;
    }
    table{
        width: 100%;
    }
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            position: relative !important;
            left: 0;
            top: -50px;
        }
        div{
            position: relative;
            top: -40px;
            justify-content: space-between;
            h4{
                font-size: 20px;
            }
        }
    }
    button{
        font-size: 16px;
    }
    input{
        height: 33px;
        margin-top: 12px;
    }
    .tmodifier{
        width: fit-content;
    }
}
@media (max-width:550px){
    .info div{
        display: block;
        padding-bottom:15px ;
        h4{
            font-size: 16px;
            font-weight: bold;
        }
    }
    button{
        font-size: 10px;
    }
    input{
        height: 25px;
        width: 140px;
        margin-top: 20px;
        font-size: 12px;
    }
}
.tbl_mp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    button{
        background-color: #333;
        height: fit-content;
        font-weight: bold;
        color: white;
        padding: 10px 20px;
        margin-left: 15px;
        border: none;
        transition: 0.3s ease;
        &:hover{
            color: black;
            background-color:var(--secondary);
        }
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}